
<ngx-select [items]="itemsTest" [optionValueField]="'name'" [optionTextField]="'lastName'" [formControl]="ngxControl"></ngx-select>
<p>Probando git stash</p>
<dialog #dialog>
  <p>gaea</p>
  <button (click)="dialog.close()">OK</button>
</dialog>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, unde at soluta
  natus vel exercitationem ea eaque laborum laboriosam esse!
  rama develop
</p>
<button (click)="dialog.showModal()">open</button>
<div>
  <h1>¿Eres peruano?</h1>
  <button (mouseover)="moveNo()">Sí</button>
  <button #noButton (mouseover)="moveNo()">No</button>
</div>
<form [formGroup]="searchForm">
  <input type="text" formControlName="searchText" placeholder="Buscar" />
</form>
<strong>test</strong>
<span>aaaaaaaaa</span>
<span>Agregando revisor</span>
<div class="customers__table">
  <table id="customers-table" class="table">
    <thead>
      <tr>
        <th scope="col" class="noselect">{{ "Image" }}</th>
        <th scope="col" class="cursor noselect" (click)="sortBy('title')">
          {{ "Title" }}
        </th>
        <th
          scope="col"
          class="cursor noselect"
          (click)="sortBy('instructor.first_name')"
        >
          {{ "Instructor" }}
        </th>
        <th
          scope="col"
          class="cursor noselect"
          (click)="sortBy('category.slug')"
        >
          {{ "Category" }}
        </th>
        <th
          scope="col"
          class="cursor noselect"
          (click)="sortBy('subcategory.slug')"
        >
          {{ "Subcategory" }}
        </th>
        <th scope="col" class="cursor noselect" (click)="sortBy('price')">
          {{ "Price" }}
        </th>
        <th scope="col" class="noselect">{{ "Action" }}</th>
      </tr>
    </thead>
    <tbody *ngIf="!isLoading">
      <ng-container *ngIf="courses && courses.length !== 0">
        <tr
          class="removable-item"
          *ngFor="
            let course of courses
              | search : searchForm.get('searchText')!.value
              | sort : sortColumn : sortOrder
          "
        >
          <td>
            <a href="#">
              <img
                src="https://lmszai.zainikthemes.com/uploads/course/1655545018-UOg3MEPfM6.jpg"
                width="80"
                alt="Imagen"
              />
              <!-- <img [src]="course.image?.trim()" alt="Imagen" /> -->
            </a>
          </td>
          <td>
            {{ course.title }}
          </td>
          <td>
            {{ course.instructor && course.instructor.first_name }}

            {{ course.instructor && course.instructor.last_name }}
          </td>
          <td>
            {{ course.category.name }}
          </td>
          <td>
            {{ course.subcategory.name }}
          </td>
          <td>
            {{ course.price | currency }}
          </td>
          <td>
            <div class="action__buttons">
              <!-- status=3 hold -->
              <a href="#" target="_blank" class="mr-30" title="View Details">
                a
              </a>

              <a href="#" target="_blank" class="mr-30" title="View Details">
                a
              </a>

              <a href="#" target="_blank" class="mr-30" title="View Details">
                a
              </a>
            </div>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="courses && courses.length === 0">
        <td colspan="7">
          <div class="d-flex align-items-center justify-content-center">
            <span>No se encontraron cursos coincidentes</span>
          </div>
        </td>
      </ng-container>
    </tbody>
    <tbody *ngIf="isLoading">
      <tr>
        <td colspan="7">
          <div class="d-flex align-items-center justify-content-center">
            <span>Cargando cursos...</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
